@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Georgia, serif;
    src: url('../font/calibril-webfont.eot');
    src: url('../font/calibril-webfont.eot?#iefix') format('embedded-opentype'), url('../font/calibril-webfont.woff') format('woff'), url('../font/calibril-webfont.ttf') format('truetype'), url('../font/calibril-webfont.svg#calibrilight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LobsterTwoRegular';
    src: url('../font/lobstertwo-regular.eot');
    src: url('../font/lobstertwo-regular.eot') format('embedded-opentype'), url('../font/lobstertwo-regular.woff') format('woff'), url('../font/lobstertwo-regular.ttf') format('truetype'), url('../font/lobstertwo-regular.svg#LobsterTwoRegular') format('svg');
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    float: left;
    background-color: #FFF;
}

.clear {
    clear: both;
}

P ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    float: left;
}

h4.alert-heading {
    display: none !important;
}

.alert {
    background: #CCD8F1;
    color: #0C132B;
    border-color: #CCD8F1;
    padding: 5px;
    margin-bottom: 5px;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
}

.header_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}

.header_inner_left {
    width: 400px;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
    height: auto;
}

.main_twitter_button iframe {
    position: absolute!important;
}

.lbox_twitter_button iframe {
    position: absolute!important;
}

.logo {
    float: left;
    width: 500px;
    margin: 10px 0 0 0;
    padding: 0px 0;
    height: auto;
}

.btn-group-profile img,
.btn-group-profile .btn-group {
    display: inline-block !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #fff;
    background-color: #6B6B6B;
}

#ckimgrsz {
    display: none;
}

.header_inner_right {
    width: 440px;
    margin: 10px 0px 0 0;
    padding: 0;
    float: right;
    height: auto;
}

.login_btn {
    width: 179px;
    margin: 10px 0 0 190px;
    padding: 0;
    float: left;
    height: auto;
}

.social {
    width: 192px;
    /* margin:5px 10px 0 0;*/
    
    padding: 0;
    float: right;
    height: auto;
    margin-right: 58px;
}

.social ul {
    height: auto;
    margin: 0;
    padding: 0;
}

.social ul li {
    float: left;
    margin: 0;
    padding: 10px 0 0 10px;
    /* width: 20px;*/
    
    list-style: none;
}

.small-right-links {
    margin-bottom: 10px;
    float: left;
}

.small-right-links img {
    border: 1px solid #ccc;
    width: 315px;
    height: 120px;
    float: left;
    clear: both;
    margin-bottom: 5px;
    height: auto !important;
}

label[for=from_direction] {
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    width: 252px;
    float: left;
    margin: -9px 0 0 56px;
    padding: 0;
    height: auto;
    clear: both;
    display: none;
}

.link ul {
    width: 326px;
    height: auto;
    margin: 0;
    padding: 0;
}

.link ul li {
    float: left;
    margin: 0;
    padding: 10px 0 0 10px;
    list-style: none;
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-size: 14px;
}

.link ul li a {
    margin: 0;
    padding: 0 10px 0 0;
    text-decoration: none;
    color: #333;
    border-right: 1px solid #333;
}

.menu {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
    background-color: #4c5358;
    border-top: 3px solid #f65261;
}

.menu_inner {
    /*    float: left;
*/
    
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 1076px;
    /*   width: 1000px;*/
    
    padding-right: 150px;
    position: relative;
}

.menu ul {
    /*width: 850px;*/
    
    height: auto;
    margin: 0 auto;
    padding: 0;
    float: left;
}

.menu ul li {
    float: left;
    margin: 0;
    /*padding:10px 0;*/
    
    white-space: nowrap;
    list-style: none;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    border-left: 1px solid #6f767a;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px 10px;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #f65261;
}

.search .button {
    display: none;
}

.main_container {
    width: 100%;
    padding: 0;
    float: left;
    height: auto;
    background: #FFF url("/../images/mainbg.jpg") repeat left top;
}

.search {
    /*  position: absolute;
  left: 50%;
  top: 95px;
  z-index: 9999;
  margin-left: 325px;*/
}

.ux-menu a {
    font-size: 14px;
}

UL#aext5411ed2daf546 LI A:active {
    background: #F65261;
}

li.ux-menu-item-main>a>span.ux-menu-arrow,
li.ux-menu-item-level-1>a>span.ux-menu-arrow {
    display: none;
}

.ux-menu ul a,
.ux-menu.ux-menu-vertical a {
    border-bottom: 0 !important;
}

ul.ux-menu-sub {}

.ux-menu ul a,
.ux-menu.ux-menu-vertical a {
    border-right: none !important;
}

.ux-menu ul.ux-menu-hidden {
    display: none !important;
}

.ux-menu a {
    border: none;
}

.ux-menu a.ux-menu-link-last {
    border-right: none !important;
}

#editor-xtd-buttons,
#cke_bottom_jform_description,
#cke_bottom_description {
    display: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
    padding: 5px;
    height: auto;
    background-color: #fff;
    box-shadow: 6px 0 20px -4px #232423, -6px 0 20px -4px #232423;
}

.container_left {
    width: 745px;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
}

.slider {
    width: 745px;
    height: auto;
    margin: 0;
    padding: 0;
}

.form-actions {
    padding: 0;
    margin-top: 0;
    float: left;
}

#cnav {
    display: none;
}

ul.feature-links {
    font-size: 13px;
    font-family: georgia, serif;
}

.tab-content>.tab-pane {
    padding: 20px;
}

dd.input-field {
    float: right;
    /*width: 130px;*/
    
    margin-left: 0;
}

dd.input-field-full {
    width: 550px;
    float: left;
}

dd.input-field-full a..btn-primary {
    margin: 0 !important;
}

dl {
    margin: 0 !important;
}

.dl-horizontal dt {
    clear: none !important;
}

.alpha-index {
    display: none;
}

.user-info,
.well {
    display: none;
}

.view-all-sections {
    /*border-bottom: 1px dotted #C5BABA;*/
    
    padding-bottom: 10px;
    margin: 0 0 30px 0;
    text-align: right;
}

.view-all-sections a {
    font-size: 13px;
    display: inline-block;
    margin-right: 31px;
    text-decoration: underline;
}

.item-page-sections h2 {
    margin: 0;
}

.item-page-sections .blog img {
    height: auto !important;
}

.item-page-sections .page-header {
    padding: 0;
    border: 0;
}

.item-page-sections #article_intro_ag {
    padding: 5px 10px;
}

.item-page-sections #article_full_ag {
    margin-bottom: -35px;
}

.item-page-sections .dl-horizontal dd {
    margin: 0;
}

.item-page-sections .has-context,
.item-page-sections .blog {
    border: 0;
}

.item-page-sections .categories-list {
    display: none;
}

.item-page-sections .cat_child_wrapper {
    height: 200px;
    overflow: hidden;
    margin-bottom: -9px;
}

.well {
    display: inline-block;
}

.page-header h1 {
    width: 100% !important;
}

.profile-bio {
    float: left;
    width: 240px !important;
    /*width: 54px !important;*/
    
    clear: both;
}

.profile-video {
    margin-left: 0 !important;
    clear: both;
}

.banner-engage,
.banner-events,
.banner-abt {
    margin-bottom: 5px;
    height: auto;
}

.container_left_box {
    width: 745px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
}

.container_left_box h1,
.page-header h2,
.container_left_box h2,
h1.rs_featured_event,
h2.item-page,
h2.item-page-sections,
#jomclassifieds h1 {
    margin: 0 0 15px 0;
    padding: 12px 0 12px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: left;
    font-weight: 300;
    background-color: #F65261;
    border-left: 10px solid #C43E4B;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.5em;
}

.about-headers-h2 {
    background-color: #2F2F2F !important;
    border-left: 10px solid #000 !important;
}

.container_left_box h1,
.container_left_box2 h1,
.bottom_box_left h1 {
    background-color: #F65261;
    border-left: 10px solid #C43E4B;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 300;
}

.container_left_box2 h1,
.bottom_box_left h1 {
    font-size: 1.5em;
}

h1.rs_featured_event {
    background-color: #f65261 !important;
}

#rsfilter {
    margin: 0 10px 0 0;
}

.btn-reset-rsform,
.btn-go-rsform,
#rs-filter {
    float: right !important;
}

.container_left_box h1 {
    text-align: center;
}

h3 {
    margin-left: 15px;
}

.left_box_text1 {
    margin: 0;
    /*padding: 0 10px !important;*/
    
    list-style: none;
    font-family: Georgia, serif;
    font-size: 1.2em;
    line-height: 25px;
    margin-bottom: 0px !important;
    text-align: center;
    color: #646262;
}

.left_box_text1 a {
    display: block;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}

.left_box_text2 {
    margin: 0;
    padding: 0 10px !important;
    list-style: none;
    font-family: 'Georgia', serif;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 25px;
    color: #f65261;
    margin-bottom: 0px !important;
    text-align: center;
}

.left_box_text3 {
    margin: 0;
    padding: 10px 0 0 10px;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    color: #525252;
    margin-bottom: 0px !important;
    text-align: center;
}

.container_left_box2 {
    width: 745px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
    padding-left: 10px;
}

.container_left_box2 h1 {
    margin: 10px 0 0 0;
    padding: 12px 0 12px 10px;
    float: left;
    color: #fff;
    text-align: left;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    /*width: 725px;*/
    
    width: 710px;
    text-transform: uppercase;
}

.whappening-section {
    overflow-y: scroll;
    position: relative;
    /*height: 300px;*/
    
    float: left;
    width: 97%;
    overflow-x: hidden;
}

.whappening-section::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.whappening-section::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3);
}

.whappening-wrapper {
    width: 743px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
    background-color: #FAFAFA;
    border: 1px solid #e5e5e5;
}

.whappening-wrapper img {
    width: 165px;
    height: 108px;
    margin: 0;
    padding: 5px;
    float: left;
}

.whappening {
    width: 537px;
    height: auto;
    margin: 0;
    padding: 0 10px 0 0;
    float: right;
}

.whappening h2 {
    margin: 0;
    padding: 12px 0;
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #325890;
    text-align: left;
    text-decoration: underline;
}

.whappening p {
    float: left;
    margin: 0 !important;
    padding: 0;
    list-style: none;
    font-family: Georgia, serif;
    font-size: 13px;
    line-height: 25px;
}

.bottom_box {
    width: 745px;
    height: auto;
    margin: 0;
    padding: 5px 0;
}

.bottom_box_left {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 10px;
    float: left;
}

.features-box {
    margin-right: 29px;
}

a.feature-heading {
    font-size: 14px;
    font-family: 'Georgia', serif;
    padding: 5px 5px 5px 0;
    color: #325890;
    text-decoration: underline;
}

.bottom_box_left h1 {
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    color: #fff;
    float: left;
    margin: 0;
    padding: 12px 0 12px 10px;
    text-align: left;
    width: 330px;
    text-transform: uppercase;
}

.bottom_box_left_main {
    width: 330px;
    height: auto;
    margin: 0;
    padding: 0 0 6px 0;
    float: left;
}

.bottom_box_left_main_img {
    width: 116px;
    height: 78px;
    margin: 0;
    padding: 5px 0;
    float: left;
}

.bottom_box_left_main_content {
    width: 200px;
    height: auto;
    margin-top: 2px;
    padding: 0;
    float: right;
}

.bottom_box_left_main_content>div {
    margin-bottom: 5px;
}

.bottom_box_left_main_content h2 {
    margin: 0;
    padding: 8px 0 12px 0;
    float: left;
    font-family: Georgia, serif;
    font-size: 18px;
    color: #272727;
    text-align: left;
}

.bottom_box_left_main_content p {
    float: left;
    margin: 0 0 5px 0 !important;
    padding: 0;
    list-style: none;
    font-family: Georgia, serif;
    font-size: 13px;
    line-height: 25px;
}

ul.feature-links {
    margin: 0;
}

ul.feature-links li {
    /*list-style-type: none;
  text-indent: -1.5em;*/
}

ul.feature-links li a {
    color: #444343;
}

hr {
    border-top: 1px solid #DAB6B6 !important;
}

#sbox-window {
    width: 1290px !important;
    height: 350px !important;
}

input#numberinp {
    width: 40px !important;
    height: 28px !important;
}

.formResponsive .formHorizontal .rsform-block {
    margin-bottom: 0px;
}

.ticket-table {
    width: 70%;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.5em;
    margin-left: 14px;
}

#rsegetdir {
    margin-top: 8px;
}

.blog-newspage h2 {
    background-color: rgba(0, 0, 0, 0);
    color: #A51107;
    border-left: none;
    border-bottom: 1px dotted #7B7B7B;
    padding-bottom: 0;
    text-transform: none;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 8px 0;
}

.blog-newspage .readmore {
    float: left;
    padding-top: 20px;
}

.rsep_mail {
    line-height: 11px;
}

.rs_rss {
    display: none;
}

.rsep_contact_block {
    margin: 0;
}

.ticket-info {
    margin-top: 20px !important;
    padding: 0;
    font-size: 12px;
    line-height: 17px;
    color: #4F5C91;
}

#rs_event_main fieldset p,
.rs_period {
    margin: 0 !important;
    padding-left: 10px;
    padding-top: 10px;
}

#RSEProTickets {
    width: auto !important;
}

#rsepro_payment .controls label,
.rs_subscribe_label,
.rs_wire {
    font-size: 14px;
}

.portal-intro {
    float: left;
    width: 300px;
    color: #2E80B8;
    font-size: 20px;
    font-family: Georgia, Serif;
    line-height: 3em;
}

.user-engage a {
    font-size: 16px;
    padding-bottom: 9px;
    display: inline-block;
}

tbody tr:nth-child(even) td,
tbody tr.even td {
    background: none !important;
}

.portal-intro a {
    line-height: 3em;
}

#os_form {
    padding: 10px 0 0 20px;
}

#os_form .radio {
    padding: 0;
}

form#os_form .control-label,
#adminForm .control-label {
    margin-bottom: 0;
    color: #C4105A;
    font-size: 13px;
}

form#os_form label,
#adminForm label {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
    display: block;
}

#adminForm {
    padding: 0 20px;
}

#adminForm .control-label {
    /*width: 100%;*/
    
    margin-right: 40px;
}

#adminForm .controls {
    width: 600px;
    margin: 0;
}

#adminForm > .control-group:first-child {
    display: none;
}

#adminForm > .controls:first-child {
    font-size: 20px;
}

form#os_form li {
    min-height: 10px;
}

form#os_form .checkbox {
    min-height: auto;
    margin: 0;
    padding: 0;
}

form#os_form #btn-submit {
    font-size: 15px;
    font-family: arial;
    background: #154794;
}

form#os_form .controls {
    margin-top: 5px;
}

form#os_form fieldset {
    padding: 0 !important;
}

#package ul {
    margin: 0;
}

#total_amount {
    padding-top: 10px;
    height: 30px;
}

#ig_admin_table {
    width: 600px;
}

.myfirstclass {
    line-height: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    text-align: center;
    /*    font-size: 20px;*/
    
    padding: 30px 60px 20px 20px;
}

#first-slide {
    padding: 10px 35px;
}

.myfirstclass h1 {
    color: #F8E69E;
    font-family: "LobsterTwoRegular" !important;
    font-size: 22px !important;
    line-height: 30px !important;
}

input[name=payment_method] {
    margin-right: 10px;
}

.myfirstclass p {
    padding-top: 5px;
    line-height: 19px !important;
    font-size: 15px !important;
    color: #E49B78;
}

.slide-cta {
    background-color: #A01212;
    border-radius: 5px;
    color: #fff !important;
    margin-top: 10px !important;
}
/*.smart-slider-layer {
  top: 30% !important;
  left: 55% !important;
  width: 40% !important;
  height: 50% !important;
  }*/

.carousel-control {
    background: transparent;
    border: none;
    margin-top: 20px;
}

a.carousel-control {
    font-size: 70px;
}
/*.btn-toolbar .btn {
  display: none;
}*/

ul.img-list li {
    float: left;
    width: 300px;
    margin-left: 30px;
    margin-bottom: 30px;
}

ul.img-list {
    padding-top: 30px;
    display: inline-block;
    list-style-type: none;
}

.sections-wrapper {
    overflow: auto;
    max-height: 329px;
    margin: 0 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

.sections-wrapper h3 {
    margin: 10px 0;
    display: inline-block;
}

div#jomclassifieds input[type="text"],
div#jomclassifieds input[type="email"],
div#jomclassifieds textarea {
    padding: 0 !important;
}

.blog-newspage .last {
    border-right: 0 !important;
}

.blog-newspage .page-header {
    border-bottom: 0 !important;
}
/*.blog-newspage .page-header h1 {
  background-color: rgba(0, 0, 0, 0);
  color: #515151;
  font-size: 2.5em;
  border-left:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: underline;
}*/

.item-page-newspage h1 {
    display: none;
}

.item-page-newspage h2 {
    font-size: 1.2em;
}

.about-headers {
    font-size: 20px;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    text-align: center;
}

.rs_event_details span {
    font-size: 13px;
    font-family: georgia;
}

.controls img {
    width: auto !important;
}

.container_right {
    width: 315px;
    margin: -10px 0 0 0;
    padding: 0;
    float: left;
    height: auto;
}

.container_right_box. .right_links,
.moduletable_hilite2 h3 {
    width: 325px;
    margin: 0 0 -28px 0;
    padding: 0;
    float: right;
    height: auto;
    clear: both;
}

.container_right_box h1,
h3.componentheading {
    margin: 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 21px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 305px;
}

#nextend-smart-slider-1 {
    margin: 0px 0px 30px 0 !important;
}

.moduletable_hilite2 {
    margin-top: 30px;
}

.item-page-aboutpage p {
    font-size: 14px;
    padding-bottom: 15px;
}

.item-page-aboutpage img {
    margin: 10px;
}

.toggle-editor {
    display: none;
}

.item-page-sections form {
    /*display: none;*/
}

h3.componentheading {
    width: 700px;
}

.donate-btn {
    vertical-align: middle;
}

.blog {
    border-bottom: 1px dotted #B1B0B0;
}

.blog img {
    border: 3px double #ccc;
}

.ig_form_table {
    float: left;
    margin-top: 5px;
}

.gallery-descr {
    float: left;
    font-weight: bold;
}

p.sa-img {
    margin-left: -7px !Important;
}

p.front-img-header {
    text-align: center;
    font-size: 18px;
    color: #9E6838;
    font-weight: normal;
}

.right_links h1,
.right_links h3,
.moduletable_hilite2 h3,
h3.componentheading {
    /*font-family: 'Lato',sans-serif;*/
    
    font-size: 21px;
}

.moduletable_hilite2 h3 {
    margin-top: 20px;
}

h3.links {
    font-size: 20px;
    color: #802323;
    text-decoration: underline;
}

.right_links ul {
    padding: 0;
    overflow: inherit;
    background-color: transparent;
    border-top: none;
    border-bottom: 1px dotted #EB245B;
    clear: both;
}

.right_links ul li {
    float: none;
    display: table;
}

.container_right_box_img {
    width: 315px;
    margin: 0;
    float: left;
    /*height:auto;*/
    
    height: 246px;
    margin-bottom: 10px;
    .container_right_box_img p {
        padding: 0;
    }
}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
    background: #181a1b;
}

.footer_inner {
    width: 1064px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.footer_about {
    width: 350px;
    height: auto;
    margin: 0px 0 59px 0;
    padding: 0;
    border-right: 1px solid #2a2d2f;
    float: left;
    text-align: center;
}

.footer_about_inner {
    width: 330px;
    height: auto;
    margin: 0;
    /*margin:21px 0 27px 0;*/
    
    padding: 0;
    float: left;
}

.footer_about_inner h1,
.footer_about_inner h1 a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ca4753;
    text-transform: uppercase;
}

.footer_about_inner p {
    font-family: Georgia, serif;
    color: #EED6D8;
    font-size: 15px;
    line-height: 25px;
}

.footer_about_inner ul {
    height: auto;
    margin: 0;
    padding: 0;
    width: 326px;
}

.footer_about_inner ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 60px;
    text-align: center;
}

.twitter {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 0;
    border-right: 1px solid #2a2d2f;
    float: left;
    text-align: center;
}

.twitter h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ca4753;
    margin: 20px 0 0 30px;
    text-transform: uppercase;
}

.twitter_inner {
    width: 330px;
    height: auto;
    margin: 0 0 44px 0;
    padding: 0;
    float: left;
}

.twitter_inner ul {
    height: auto;
    margin: 15px 0 0 0;
    padding: 0;
    width: 326px;
}

.twitter_inner ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 60px;
}

.AuthorizeNetSeal {
    width: 90px;
    font: normal 9px arial, helvetica, san-serif;
    line-height: 10px;
    float: right;
}

.quicklinks {
    width: 230px;
    min-height: 160px;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

.quicklinks h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ca4753;
    margin: 20px 0 0 30px;
    text-transform: uppercase;
}

.quicklinks_inner {
    width: 330px;
    height: auto;
    margin: 0 0 28px 0;
    padding: 0;
}

.quicklinks ul {
    width: 330px;
    margin: 20px auto;
    padding: 0 0 0 32px;
    height: auto;
    float: left;
}

.quicklinks ul li {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 15px;
    color: #959595;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}

.quicklinks_inner a {
    color: #EED6D8;
    font-size: 16px;
}

.menu2 {
    margin: 20px 0 0 30px;
    padding: 0;
    height: auto;
    float: left !important;
}

.menu2 li {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 15x;
    color: #959595;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}

.newsleeter {
    padding: 16px 0 0 0;
    clear: both;
}

.donor-list {
    list-style-type: none;
}

.donor-page h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.copyright {
    width: 100%;
    background: #000000;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
}

.copyright_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}

.copyright_inner p {
    color: #6d6d6d;
    font-family: Georgia, serif;
    font-size: 13px;
    text-align: center;
    margin: 12px 0 12px 0;
}

.slider_content {
    width: 700px;
    margin: 0;
    padding: 0;
    height: 58px;
}

.slide-desc-bg {
    background: #000 !important;
}

.slide-text h1 {
    color: #f65261;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
/*.slider h1
{
color: #F1808B;
font-family: "LobsterTwoRegular";
font-size:20px;
font-weight: normal;
}*/
/*hide payment form*/
/*#field_email,
#field_first_name {
    display: none;
}*/

#field_package {
    display: inline-block;
}

.slider_content p {
    font-family: Georgia, serif;
    font-style: italic;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}

.login-description {
    margin: 20px 0 0 0;
    padding: 12px 0 12px 10px;
    font-family: 'LobsterTwoRegular';
    font-size: 24px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
}

.jomClassifiedsSearch {
    margin-bottom: 10px;
}

.button {
    background-color: #f65261;
    font-family: georgia, serif;
    border: none;
    color: #fff;
    float: left;
    width: auto;
    margin: 12px 0 0 7px;
    font-size: 15px;
    padding: 2px 8px;
}

.login-fields label {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
}

.login-fields input {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 11px 0 11px 12px;
    width: 206px;
    padding: 6px;
}

.validate-password {
    /*margin: 11px 0 11px 22px !important;*/
}

#remember {
    /*margin: 0 0 0 0 !important;
width: auto !important;*/
    
    margin-top: -20px;
    position: relative;
    display: block;
}

#remember-lbl {
    /*margin: 11px 0 0 85px !important;*/
}

#mbox #system-message-container {
    display: none !important;
}

#mbd {
    width: 300px;
    height: 50px;
}

#mbd iframe {
    width: 400px !important;
    height: 100px !important;
}

#mbox {
    width: 450px !important;
    height: 135px !important;
}

.small_text {
    font-style: 12px;
}

div.calendar {
    z-index: 10000 !important;
}
/*li#rs_li_5, li#rs_li_11, li#rs_li_rsm,  #rs_li_10, #rs_li_tc, #rs_li_td, #rs_li_2, #rs_li_9, #rs_li_8 {
  display: none !important;
}*/

li#rs_li_rsm,
li#rs_li_5,
li#rs_li_11,
li#rs_li_td {
    display: none !important;
}

#sbox-content iframe {
    width: 1200px;
    height: 300px;
}

.post-stuff ul {
    margin-bottom: 0;
}

.rs_add_category {
    margin-top: -10px !important;
}

.post-stuff span,
.post-stuff img {
    margin-left: 20px;
}

.post-stuff span {
    text-decoration: underline;
}

.post-stuff ul li {
    font-size: 13px;
}

.post-stuff h3 {
    font-size: 18px;
    margin: 0;
    color: #A31C1C;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.rsep_posted {
    display: none;
}

p.engage {
    margin-top: -10px;
}

.reset {
    margin: 24px 0 0 0;
}

.pagination ul {
    display: inline;
    white-space: nowrap;
    list-style: none;
}

.pagination ul li {
    display: inline-block;
    padding-right: 10px;
}

.pagination {
    display: block;
}

.moduletablepaypal-donate {
    margin-top: -30px;
}

p,
#article_intro_ag {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 5px;
    margin: 10px !important;
    text-indent: 0 !important;
}

h4 {
    margin: 10px;
}

.item-page p {
    padding: 3px;
    margin-bottom: 25px;
    line-height: 1.7em;
}

.item-page ul li {
    line-height: 18px;
}

.validate {
    background-color: #f65261;
    font-family: 'Lato', sans-serif;
    border: none;
    color: #fff;
    float: left;
    width: 216px;
    margin: -73px 0 0 160px;
    font-size: 24px;
    padding: 5px;
}

fieldset {
    padding-bottom: 51px !important;
    padding-left: 30px;
}

dt.result-title {
    padding-top: 20px;
}

#jform_email-lbl {
    float: left;
    padding-left: 26px;
    font-family: georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
}

#jform_email {
    font-family: georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: -4px 0 11px 12px;
    width: 206px;
    padding: 6px;
}

.registration legend {
    margin: 4px 0 0 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: georgia, serif;
    font-size: 18px;
    color: #861A1A;
    text-align: left;
    font-weight: normal;
    width: 692px;
}

.registration {
    margin: 20px 0 0 0;
}

.registration label {
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: normal !important;
}

#jform_name-lbl,
#jform_username-lbl,
#jform_password1-lbl,
#jform_password2-lbl,
#jform_email1-lbl,
#jform_email2-lbl {
    float: left;
    width: 100px;
}

#username-lbl,
#password-lbl {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    float: left;
}

#postclassified {
    margin-top: 20px;
}

.item-page-sections h1 {
    display: none;
}

.item-page-sections p {
    margin: 0;
}

.item-page-sections .rs_search,
.item-page-sections h2.igallery_title {
    display: none;
}

.item-page-gallery h2.igallery_title {
    display: none;
}

.item-page-gallery h3 {
    text-decoration: underline;
}

.item-page-gallery h3.cat_child_h3 {
    font-size: 1.2em;
    text-align: center;
    text-transform: none;
}

.item-page-sections h2,
.item-page-sections div#jomclassifieds a,
.item-page-sections h3,
.item-page-sections .has-context h2 a {
    background: none;
    color: #A51107;
    /*color: #B5580B;*/
    
    border: 0;
    font-size: 18px;
    font-weight: normal;
}

.item-page-sections h2 {
    font-weight: bold;
}

.item-page-sections h3.cat_child_h3 {
    font-size: 14px;
    text-transform: none;
}

.item-page-sections div#jomclassifieds .listview th {
    border-top: 0;
    border-bottom: 0;
    display: none;
}

.comedy-news-event {
    float: left;
    width: 353px;
    margin: 5px;
}

.comedy-news-event span {
    display: block;
    margin-top: 10px;
}

.item-page-sections .comedy-news-event {
    width: 470px;
}
/*
#search-searchword {
  text-align: right;
  background:url(/images/searchButton.gif) no-repeat top right;
  vertical-align: bottom;

}*/

.icon-search,
.button {
    background: url(/images/searchButton.gif) no-repeat top right;
}

.btn {
    background: #514E4E;
    border: none;
    color: #fff;
    padding: 2px 8px;
    margin: 0 10px 0 0;
    font-size: 12px;
    text-shadow: none;
    /*margin: 0 0 0 97px;*/
    
    width: auto;
    border-radius: 5px;
    font-family: georgia, serif;
}

.categories-list {
    padding-bottom: 0 !important;
}

.has-context h2 {
    background-color: transparent !important;
    border: none;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
}

.has-context h2 a {
    /*font-family: georgia, serif !important;*/
    
    text-transform: uppercase;
    color: #A51107 !important;
    font-size: 20px;
}

.input-field-full {
    margin: 0;
}

.has-context {
    border-bottom: 1px solid #E0BEBE;
}

fieldset.well {
    /*  display: block !important;*/
}

fieldset {
    min-width: 100% !important;
}

ul.img-list li a img {
    border: 2px double #F1EDED;
    border-radius: 10px;
}
/*a.btn-mini {
  display: none;
}*/

.categories-list table.list {
    margin-bottom: 0;
}

.hide-event-label {
    display: none !important;
}

.profile-img {
    float: left;
    margin-left: 0 !important;
    margin-right: 20px;
}

.video-label {
    width: 80px !important;
    font-size: 17px;
}

ul#tabs-list {
    clear: both !important;
}

.avatar {
    display: none !important;
}

#jform_email2-lbl {
    font-size: 14px;
}

#jform_name {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: -5px 0 11px 0px;
    width: 206px;
    padding: 3px;
}

#jform_username {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0;
    width: 206px;
    padding: 3px;
}

#jform_password1 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0 !important;
    width: 206px;
    padding: 3px;
}

#jform_password2 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0 !important;
    width: 206px;
    padding: 3px;
}

#jform_email1 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0!important;
    width: 206px;
    padding: 3px;
}

#jform_email2 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0!important;
    width: 206px;
    padding: 3px;
}

.btl-dropdown {
    background-color: #3F0A06 !important;
    font-family: georgia, serif;
    font-size: 12px;
}

a.rsep_join {
    border: none;
    background: rgba(0, 0, 0, 0);
    background-color: #5284C2;
    color: #FFF !important;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
}

.rsepro_front {
    width: 260px !important;
}

p.img-capt a {
    margin-right: 70px;
}

#order-div {
    /*margin: 10px 0 20px 250px;*/
    
    float: left;
    width: 42%;
    margin-top: 5px;
}

.invite-div {
    /*  clear: both;
  margin-left: 225px;*/
    
    margin-top: 5px;
    display: inline-block;
    float: left;
}

.cat-children {
    margin-left: 12px;
}

.cat-children h3,
h3 {
    font-family: lato;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.rs_files_container h3,
.rsep_contact_block h3 {
    text-decoration: underline;
}

.cat-children h3 a {
    color: #373535;
    text-decoration: underline;
    font-size: 14px;
    font-family: georgia;
}

.moduletable h3,
.moduletable_hilite2 h3 {
    /*margin: 0 0 12px 0;*/
    
    margin: 0 0 1px 10px;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 100%;
}

.moduletable p {
    margin: 0 0px 10px 10px;
    width: 315px;
}

.item-page-sections .moduletable h3 {
    width: 296px;
}
/*.item-page-sections .has-context h2 a {
  color: #A51107 !important;
  font-weight: 300;
}*/

.item-page-sections .has-context {
    /*border-bottom: 1px solid #E0BEBE;*/
    
    padding: 10px 5px;
    width: 745px;
    float: left;
    max-height: 171px;
    /*  background: none repeat scroll 0 0 #E4E6EC !important;
  border-radius: 4px;
  box-shadow: 2px 1px 2px rgba(203, 210, 217, 0.9);
  margin: 0 0 5px !important;*/
}

.item-page-sections #jomclassifieds .description {
    width: 550px;
}

.item-page-sections .profile-img {
    float: left;
    width: 110px;
}

.item-page-sections div#jomclassifieds,
.item-page-sections .blog .items-leading {
    /*  background: none repeat scroll 0 0 #E4E6EC !important;
  border-radius: 4px;
  box-shadow: 2px 1px 2px rgba(203, 210, 217, 0.9);
  margin: 0 0 5px !important;*/
}

.item-page-sections .blog .items-row {
    /*display: none;*/
}

.item-page-sections div#jomclassifieds table .row0,
.item-page-sections div#jomclassifieds table .row1 {
    /*  background-color: #E4E6EC;*/
}

.item-page-sections .comedy-links-section p {
    line-height: 22px;
}

.item-page-sections .comedy-links-section img,
.item-page-sections .comedy-links-section h2 {
    display: none;
}

.item-page-sections .input-field-full {
    /*width: 240px;*/
    
    float: left;
    padding-left: 5px;
}

.rs_event_details {
    margin-top: 14px;
}

.rs_event_image {
    padding-right: 10px;
}
/*.item-page-sections .input-field-full p:nth-last-child(2) {
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}*/

.input-field-full p:nth-last-child(2) {
    /*  width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;*/
}

.input-field-full p {
    display: none;
}

.input-field-full p:first-child {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.input-field-full p:last-child {
    display: block;
}

.item-page-sections .input-field-full p:first-child {
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    height: 76px;
}

.moduletable p {
    padding: 0;
}

.moduletable p a img {
    width: 315px;
    height: 201px;
}

#article_intro_ag {
    padding: 10px;
    display: inline-block;
}

#article_full_ag a {
    font-size: 12px !important;
    padding-left: 10px;
    float: left;
    margin-left: 8px;
    margin-top: -15px;
}

.eventnewc p {
    clear: both;
}

#newsl {
    background: #0b0c0c;
    font-family: Georgia, serif;
    font-style: italic;
    color: #959595;
    border: 1px solid #292d2f;
    margin: 4px 0 0 30px;
    padding: 7px;
    width: 174px;
}

#newsb {
    background: #181a1b;
    color: #ca4753;
    border: 1px solid #ca4753;
    font-family: Georgia, serif;
    font-style: italic;
    padding: 6px;
    width: 94px;
    margin: 0 0 0 8px;
    font-size: 16px;
}

.last {
    border-right: 1px solid #6f767a !important;
}

#mod-search-searchword {
    background: none repeat scroll 0 0 #f4f4f4;
    border: medium none;
    border-radius: 3px;
    color: #8f9396;
    float: left;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 6px;
    padding: 10px 20px;
    z-index: 9999;
    height: 40px;
}

.active {
    background: #f65261;
    color: #fff;
}

.active span:hover {
    color: #000;
}

.menu li ul {
    width: 180px;
    display: none;
    background-color: #4c5358;
    padding: 3px !important;
    z-index: 9999;
    position: absolute;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    border-left: 1px solid #6f767a;
    margin: 15px 0 0 -26px;
    border-bottom: 1px solid #6f767a;
    border-right: 1px solid #6f767a;
    width: auto !important;
    top: 37px !important;
    left: 24px !important;
}

.menu li li ul {
    padding: 0 !important;
    margin: 0;
    position: absolute;
    left: 123px !important;
    top: -1px !important;
}
/*ul#ext-gen17 {
    left: 164px !important;
}
*/

.menu li li {
    margin-bottom: 3px !important;
    padding: 5px !important;
    /*background:none;*/
    
    border-left: none;
    width: auto;
    clear: both;
    border-right: none !important;
    float: none;
    /*overflow: hidden;*/
}

.menu li li a {
    background-color: #f65261;
    color: #fff;
    display: block;
    text-transform: none;
    font-size: 14px;
    line-height: 1.3em;
    /*font-weight: bold;*/
    
    margin: 0;
    padding: 2px 5px;
    text-decoration: none;
    /*white-space: nowrap;*/
}

.menu li li a:hover {
    color: #000;
}

.menu li li .last {
    border-right: none !important;
}

.item-page h2,
.item-page-opp h2,
.item-page-sections h2.section-header {
    margin: 0 0 15px 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: left;
    font-weight: 300;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    /*width: 725px;*/
    
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.item-page-opp h2 {
    float: none;
}

.item-page-sections h2.section-header {
    text-align: left !important;
}

#message {
    width: 60%;
}

.item-page-opp .about-headers-h2 {
    font-size: 1.2em;
    background-color: #6F6E6E !important;
    border-left: 0 !important;
}

div#jomclassifieds .imgblock {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    margin: 0px;
    padding-bottom: 75%;
    background-color: #000;
}

div#jomclassifieds {
    padding: 10px;
}

ul.mylinks {
    clear: both;
}

ul.mylinks li a {
    color: #47425E;
    line-height: 1.7em;
}

.engage {
    float: right;
}

a {
    color: #325890;
}

.search_hilite2 input {
    width: 300px;
    height: 25px;
    padding: 3px;
    border: 1px solid #C5ACAC;
    border-radius: 3px;
}

#jsebuttonsearch {
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    float: left;
    margin: 0 0 20px 0;
    font-family: georgia, serif;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 11px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip {
    max-width: 400px;
}

.tooltip-inner {
    max-width: none;
    text-align: left;
    text-shadow: none;
}

th .tooltip-inner {
    font-weight: normal;
}

.tooltip.hasimage {
    opacity: 1;
}

.tip-text {
    text-align: left;
}

div#jomclassifieds div.control-group .control-label {
    margin-right: 5px;
    padding: 0;
}

.event-img {
    width: 150px;
    height: auto;
}

.Sponsor {
    display: none;
}

.container_right_box {
    height: 100% !important;
}

td.jse_sectiontableentry ul {
    list-style-type: none;
    /* padding-top: 17px;*/
}

h3.popover-title {
    font-size: 14px;
    padding-top: 5px;
    background-color: transparent;
    padding: 0;
    float: none;
    border-left: 0;
}

#jse_popup_l_search h3 {
    font-size: 15px;
    padding: 7px;
    width: 265px;
    float: none;
}

#jse_popup_search_start_date,
#jse_popup_search_end_date {
    width: 275px;
}
/* remove statistics table from my events view */

#table-statistic {
    display: none;
}

.btn-primary {
    /* margin: 10px;*/
}

.dtree img {
    display: none;
}

#jse-event-detail .jse-detail-info-Attenders div.jse-register {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.jse-register button {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #AD162F;
    text-transform: uppercase;
    text-decoration: underline;
}

.jse_sectiontableheader h4 {
    text-align: center;
}

.dtree a.nodeSel,
.dtree a.node,
.right_links ul li a {
    font-family: Gorgia, serif;
    display: inline-block;
    font-size: 14px;
    color: #4C4746;
    font-weight: normal;
    padding-bottom: 4px;
}

div#jomClassifiedsMenu ul,
div#jomClassifiedsMenu li {
    margin-left: 10px;
    border: 0;
}

div#jomClassifiedsMenu li.first {
    border-bottom: 1px dotted #C0BABA;
    width: 97%;
}

#jomClassifiedsMenu a.active {
    background-color: transparent;
}

ul.rsepro_categories h4 {
    margin: 3px;
}

#mceu_15 {
    display: none;
}

.form-inline {
    margin-left: 137px;
}

.toggleMenu {
    /* background: none repeat scroll 0 0 #333;*/
    
    color: #fff;
    display: none;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    height: 28px;
    /*padding: 10px 15px;*/
    
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.menu_inner .active {
    background-color: transparent;
}

.searchbar {
    float: right;
    width: 214px;
    margin-left: 327px;
    position: absolute;
    left: 50%;
}

#btl-content-profile {
    left: 67% !important;
    top: 42px!important;
}

.formResponsive fieldset {
    float: left;
}

#btl-content-registration {
    left: 72%!important;
}
/*************************** RESPONSIVE *********************************/

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header_inner,
    .logo,
    .container,
    .container_left,
    .container_right {
        width: 100%;
    }
    .main_container {
        margin-top: 10px;
    }
    .logo-txt {
        width: 84% !important;
    }
    .logo-small {
        width: 20px !important;
        height: 20px !important;
    }
    .login_btn {
        width: 40%;
        margin: 10px 0px 0px 0px;
    }
    .login_btn img {
        width: 100%;
    }
    .header_inner_left,
    .header_inner_right {
        width: 52%;
    }
    .social {
        margin: 4px 0 0 0;
    }
    .social ul li {
        width: 21px;
        margin-right: 9px;
    }
    .link {
        width: 100%;
        margin: -7px 0px 0px -11px;
    }
    .sections-wrapper {
        overflow: inherit;
        height: auto;
    }
    .formResponsive input[type="text"],
    .formResponsive input[type="password"],
    .formResponsive textarea,
    .formResponsive select {
        width: 80% !important;
    }
    textarea {
        width: 80%;
        height: 50%;
    }
    .link ul li {
        font-size: 11px;
        padding: 10px 0px 0px 3px;
    }
    .djslider {
        width: 100%;
    }
    .slider,
    .container_left_box,
    .container_left_box2,
    .bottom_box,
    .container_right_box,
    .container_left_box h1,
    .left_box2,
    .left_box2_content h2,
    .footer_inner,
    .copyright_inner,
    .footer_about_inner,
    .twitter_inner,
    .quicklinks_inner {
        width: 100%;
    }
    .whappening {
        width: 58%;
    }
    .AuthorizeNetSeal {
        width: 100% !important;
    }
    .whappening h2 {
        text-align: left;
        font-size: 20px;
    }
    .whappening-wrapper img {
        margin: 0;
        width: 26% !important;
        height: auto !important;
    }
    .whappening p {
        text-align: left;
        padding: 0 5px;
        font-size: 15px;
    }
    .bottom_box_left,
    .bottom_box_left_main {
        width: 100%;
    }
    .bottom_box_left_main_img {
        width: 30%;
    }
    .bottom_box_left_main_content {
        width: 62%;
    }
    .bottom_box_left_main_content p {
        width: 80%;
    }
    #mod-search-searchword {
        margin: 99px 0px 0px -140px;
        width: 30%;
        position: relative;
        z-index: 0;
    }
    table.list .cat-name {
        font-size: 11px;
    }
    /*.container_right_box_img{width: 96%;}*/
    
    .banner-engage,
    .banner-events,
    .banner-abt {
        width: 100%;
        height: auto;
    }
    .container_right_box_img img {
        width: 96%;
        float: right;
    }
    .small-right-links img {
        width: 96% !important;
    }
    .container_right_box iframe {
        margin: 0 0 0 4px;
        width: 98% !important;
    }
    .footer_about,
    .quicklinks,
    .twitter {
        width: 100%;
    }
    a.small-btns-front img {
        width: 100% !important;
        height: auto !important;
        margin-left: 0 !Important;
        margin-bottom: 10px;
    }
    .menu ul {
        padding-left: 10px;
        background-color: #4C5358;
    }
    .wrapper {
        overflow: hidden;
    }
    .header_inner_right {
        margin: 6px -21px 2px 0;
    }
    .searchbar {
        display: none;
    }
    .footer_about_inner h1 {
        margin: 0 0 9px 31px;
    }
    .whappening-wrapper {
        width: 100% !important;
    }
    .item-page {
        width: 93%;
    }
    .item-page p {
        margin-left: 19px;
    }
    .button {
        margin: 20px 0 0 0px;
        width: 100%;
    }
    #jform_name,
    #jform_username,
    #jform_password1,
    #jform_password2,
    #jform_email1,
    #jform_email2 {
        width: 70% !important;
    }
    .validate {
        width: 71%;
        margin: -73px 0 0 47px;
    }
    .registration legend {
        width: 100%;
    }
    .searchbar .button {
        display: none;
    }
    .btl-panel {
        width: 170px;
    }
    /*#btl-panel-login {padding: 6px 11px !important;width: auto;margin: 0 0 0 -17px !important;line-height:12px!important;}*/
    
    #btl-panel-profile {
        margin: 0 0 0 -35px !important;
    }
    .fb_iframe_widget_fluid {
        display: inline !important;
    }
    .slider_content {
        width: 100%;
    }
    .slide-text h1 {
        font-size: 15px !important;
        color: #F8CBCF;
    }
    .twitter h1,
    .footer_about_inner h1,
    .quicklinks_inner h1 {
        margin-left: 10px;
        font-size: 18px
    }
    .quicklinks ul {
        float: none;
    }
    .quicklinks ul li {
        font-size: 16px;
    }
    .menu ul li {
        padding: 5px 0;
        border-left: none;
        border-bottom: 1px solid #6F767A;
    }
    .menu li li {
        padding: 0 !important;
        border: none !important;
    }
    .menu ul li a {
        padding: 4px !important;
    }
    .copyright_inner p {
        font-size: 12px;
    }
    #btl .btl-panel > span {
        line-height: 12px!important;
    }
    #first-slide,
    .myfirstclass {
        padding: 5px !important;
    }
    #first-slide h1,
    .myfirstclass h1 {
        font-size: 12px !important;
        line-height: 13px !important;
    }
    .smart-slider-layer {
        top: 20% !important;
        height: 80% !important;
    }
    .myfirstclass p,
    #first-slide p {
        line-height: 13px!important;
        font-size: 11px!important;
        padding-top: 0px!important;
    }
    .menu_inner {
        width: 100% !important;
        background-color: #4C5358;
        padding: 0 10px;
    }
    .menu {
        background-color: transparent;
        border-top: none;
    }
    .menu ul li a {
        padding: 5px 10px;
    }
    .blog img {
        width: auto !important;
        height: auto !important;
    }
    dd.input-field-full {
        width: 100%;
        float: none;
    }
    .ux-menu a {
        font-size: 14px;
    }
    .menu li li ul {
        left: 0 !important;
        top: 0 !important;
    }
    .toggleMenu {
        display: inline !important;
        color: #fff !important;
        text-decoration: none;
        padding-left: 20px;
    }
    .formResponsive fieldset {
        margin-left: 14px;
        width: 75%;
    }
    .rs_edit_inp_small {
        width: 75%;
        margin-left: 10px;
    }
    .rs_subscribe_label {
        margin-top: 14px;
        margin-left: 10px;
    }
    .menu ul li {
        width: 100%;
        font-size: 14px;
        border-bottom: 1px solid #000;
        padding: 0;
        margin-top: 10px;
    }
    .draggable {
        width: 86%;
    }
    #rsepro_wrapper {
        width: 69%;
    }
    #rsepro_payment {
        text-align: center;
        margin-left: 10px;
    }
    .menu li li ul {
        padding: 0 !important;
        /*  border:#b21925 solid 1px ; */
        
        margin: 0;
        position: relative;
        left: -77 px !important;
        top: 35px !important;
        margin-bottom: 50px;
    }
    .rs_edit_sel_small {
        margin-top: 10px;
        margin-left: 28px;
    }
    .dj-main li.hover ul,
    .dj-main li.hover li.hover ul,
    .dj-main li.hover li.hover li.hover ul,
    .dj-main li.hover li.hover li.hover li.hover ul,
    .dj-main li.hover li.hover li.hover li.hover li.hover ul {
        display: block;
    }
    .menu li ul {
        border: none;
        display: none;
        float: left;
        position: relative;
        transition: height 0.5s ease 0s;
        /*width: 100%;*/
        
        z-index: 9999;
        /*    margin-top: -11px !important;
    margin-left: -87px !important;*/
        
        margin: 0 0 43px -79px;
    }
    .menu li ul li ul {
        margin: 0;
        margin-bottom: 40px;
    }
    .menu a {
        font-style: none !important;
    }
    .menu li li a {
        background-color: #f65261;
        color: #fff;
        display: block;
        text-transform: none;
        font-size: 14px;
        /*font-weight: bold;*/
        
        padding: 5px;
        text-decoration: none;
        /*white-space: nowrap;*/
        
        float: left!important;
    }
    .menu ul li a {
        float: left;
    }
    #btl-content #btl-content-login {
        width: 85%;
    }
    #btl-content-login .btl-input input {
        width: 150px;
    }
    .btl-field {
        margin-left: 8px;
    }
    #btl-content-registration {
        left: 0%!important;
        min-width: 318px;
    }
    #btl-content-login {
        left: 13%!important;
    }
    .blog img {
        width: 100%!important;
    }
    .container_left_box h1,
    .page-header h2 {
        width: 100%;
    }
    .myfirstclass h1 {
        color: #f18b8b;
        font-family: 'Lato', sans-serif !important;
        /*font-size: 14px !important;*/
        
        line-height: 20px !important;
        padding-top: 1px!important;
    }
    .myfirstclass p {
        line-height: 20px!important;
        font-size: 13px !important;
        padding-top: 4px !important;
    }
    .dj-up_a a {
        float: left!important;
    }
    .menu li li a {
        /*width:98%;*/
    }
    #btl-content-profile {
        left: 57%!important;
    }
    .container_left img {
        width: 97% !important;
        height: auto !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
    .wrapper {
        overflow: hidden;
    }
    .header_inner,
    .logo,
    .container,
    .container_left,
    .container_right {
        width: 100%;
    }
    .logo img {
        width: 100%;
        float: left;
    }
    .header_inner_left,
    .header_inner_right {
        width: 50%;
    }
    .link {
        width: 100%;
        margin: 5px 0 0 -34px;
    }
    .djslider {
        width: 100%;
    }
    .AuthorizeNetSeal {
        width: 100% !important;
    }
    .slider,
    .container_left_box,
    .container_left_box2,
    .bottom_box,
    .container_left_box h1,
    .footer_inner,
    .copyright_inner,
    .footer_about_inner,
    .twitter_inner,
    .quicklinks_inner {
        width: 100%;
    }
    .whappening-wrapper {
        width: 100%;
    }
    .whappening h2 {
        text-align: left;
        font-size: 22px;
    }
    .whapenning-wrapper img {
        margin: 0 0 0 103px;
        width: 20%;
    }
    ul.nav {
        margin-top: 29px;
    }
    .formResponsive input[type="text"],
    .formResponsive input[type="password"],
    .formResponsive textarea,
    .formResponsive select {
        width: 80% !important;
    }
    dd.input-field-full {
        float: none;
    }
    .whappening p {
        text-align: left;
    }
    .menu li ul {
        top: 7px !important;
    }
    .bottom_box_left,
    .bottom_box_left_main {
        width: 100%;
    }
    .bottom_box_left_main_img {
        width: 30%;
    }
    .bottom_box_left_main_content {
        width: 70%;
    }
    .copyright_inner p {
        font-size: 12px;
    }
    .bottom_box_left h1 {
        width: 100%;
    }
    .bottom_box_left_main_content p {
        font-size: 15px;
    }
    #mod-search-searchword {
        margin: 135px 0 0 -289px;
    }
    .moduletable h3 {
        width: 100%;
        margin-left: 4px;
    }
    .container_right_box {
        width: 45%;
        float: left;
        clear: none;
        margin-left: 13px;
    }
    .container_right_box_img {
        width: 100%;
        float: left;
        clear: none;
        padding: 0 0 0 10px;
        height: auto;
    }
    .container_right_box .moduletable {
        width: 97%;
        float: left;
    }
    .container_right_box_img img {
        float: right;
        width: 229px !important;
        height: auto !important;
    }
    .container_right_box iframe {
        margin: 0 0 0 4px;
        width: 98% !important;
    }
    .menu ul,
    .footer_about,
    .quicklinks,
    .twitter {
        width: 100%;
    }
    .wrapper {
        overflow: hidden;
    }
    .header_inner_right {
        margin: 10px -26px 2px 0;
    }
    .footer_about_inner h1 {
        margin: 0 0 9px 31px;
    }
    .whappening {
        width: 55%;
        float: left;
    }
    .bottom_box_left_main_img img {
        margin: 0 0 0 13px;
    }
    #btl-content-profile {
        left: 0 !important;
        top: 0 !important;
    }
    .item-page {
        width: 93%;
    }
    #jform_name,
    #jform_username,
    #jform_password1,
    #jform_password2,
    #jform_email1 {
        width: 63%;
    }
    #jform_email2 {
        width: 60%;
    }
    .registration legend {
        width: 100%;
    }
    .login_btn {
        margin: 10px 0px 0px 40px;
    }
    .footer_about,
    .footer_about_inner,
    .twitter,
    .twitter_inner {
        width: 29%;
    }
    .searchbar .button {
        display: none;
    }
    #btl-panel-login {
        width: 69%!important;
        margin: 0 0 0 -17px !important;
    }
    .fb_iframe_widget_fluid span {
        width: 100% !important;
    }
    .twitter h1,
    .footer_about_inner h1,
    .quicklinks_inner h1 {
        margin-left: 10px;
        font-size: 18px
    }
    .quicklinks ul {
        float: none;
    }
    .quicklinks ul li {
        font-size: 16px;
    }
    .searchbar {
        display: none !important;
    }
    .search {
        display: none !important;
    }
    #simplemodal-container {
        z-index: 9999 !important;
    }
    .menu_inner {
        width: 100%;
        background-color: #4C5358;
        padding: 0 10px;
        margin-top: -27px;
    }
    /*.menu {background-color: transparent;border-top: none;}*/
    
    .menu ul li a {
        padding: 5px 10px;
    }
    .ux-menu a {
        font-size: 12px;
    }
    .logo-small {
        width: 45px !important;
        height: 45px !important;
    }
    .logo-txt {
        width: 75% !important;
    }
    ul.ux-menu-sub {
        top: 0!important;
        left: 0px !important;
    }
    .smart-slider-layer {
        top: 10% !important;
        height: 90% !important;
    }
    a.small-btns-front img {
        width: 45% !important;
        height: auto !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        overflow: hidden;
    }
    .header_inner_left {
        width: 35%;
        clear: both;
    }
    .header_inner_right {
        width: 65%;
    }
    .menu_inner {
        width: 100%;
        margin: 0;
    }
    .menu ul li {
        padding: 10px 0;
    }
    #mod-search-searchword {
        margin: 0;
        width: 120px;
        padding: 2px 5px;
        height: 38px;
    }
    #dj-main89 {
        width: 100%;
    }
    .container_left {
        width: 70%;
        float: left;
    }
    .container_right {
        width: 29%;
        float: left;
        margin: 10px 0 0 2px;
    }
    .small-right-links img {
        width: 95% !important;
    }
    .small-btns-front img {
        width: 45% !important;
        height: auto !important;
    }
    .slider {
        width: 100%;
        float: left;
    }
    .djslider {
        width: 100% !important;
    }
    .container_left_box,
    .container_left_box h1 {
        width: 98%;
        float: left;
    }
    .container_left_box2,
    .container_left_box2 h1 {
        width: 98%;
        float: left;
    }
    .bottom_box {
        width: 98%;
        float: left;
    }
    .bottom_box_left {
        width: 46%;
        float: left;
    }
    .bottom_box_left h1 {
        width: 98%;
    }
    .bottom_box_left_main {
        width: 98%;
    }
    .container {
        width: 100%;
    }
    /*.ux-menu a.ux-menu-link-parent {margin-right: 10px;}*/
    
    .container_right_box {
        margin: -10px 0px -28px;
        width: 99%;
    }
    .menu_inner {
        /*width: 77%;*/
    }
    /*.container_right_box_img .moduletable img{width: 99%;}
.moduletable,.container_right_box_img{width: 99%;}*/
    
    .left_box2 {
        width: 100%;
    }
    .left_box2_img {
        width: 30%;
    }
    .left_box2_content {
        width: 62%;
    }
    .left_box2_content h2 {
        font-size: 20px;
    }
    .bottom_box_left_main_img {
        width: 46%;
    }
    .bottom_box_left_main_img img {
        / bnn width: 100%;
    }
    .bottom_box_left_main_content {
        width: 49%;
        margin-left: 12px;
        float: left;
    }
    .footer_inner {
        width: 100%;
    }
    .footer_about,
    .footer_about_inner,
    .twitter,
    .twitter_inner {
        width: 29%;
    }
    .footer_about_inner p {
        margin: 0 !important;
        width: 200px;
    }
    .quicklinks {
        width: 28%;
    }
    .copyright_inner {
        width: 100%;
    }
    #djslider90 ul#slider90 li {
        height: 344px !important;
        width: 745px !important;
    }
    .twitter h1,
    .footer_about_inner h1,
    .quicklinks_inner h1 {
        margin-left: 10px;
        font-size: 18px
    }
    .quicklinks ul {
        margin: 20px 0 0 10px;
    }
    .quicklinks ul li {
        font-size: 16px;
    }
    .searchbar .button {
        display: none;
    }
    .whappening-wrapper {
        width: 100%;
    }
    .whappening-wrapper img {
        float: left;
    }
    .whappening {
        float: left;
        width: 60%;
    }
    .menu ul li a {
        padding: 7px;
    }
    .menu li li a {
        padding: 2px 5px;
    }
    .menu ul {
        width: 850px !important;
    }
    /*.menu li ul {width: 180px !important;}*/
    
    .ux-menu a {
        font-size: 14px !important;
    }
    .fb_iframe_widget span {
        margin-bottom: 28px;
    }
    .searchbar {
        /*width:174px;*/
        
        display: none;
        margin-top: 5px;
        /*margin-left: 374px;*/
    }
    .login_btn {
        margin-left: 150px;
    }
    .social {
        width: 69%;
        margin-right: 70px;
    }
    #btl-content-registration {
        left: 54%!important;
    }
    .item-page h2 {
        width: 100%;
    }
    .container_left img {
        width: 97%;
    }
    .user-add img {
        width: auto;
    }
    .myfirstclass h1 {
        color: #f18b8b;
        font-family: 'Lato', sans-serif !important;
        font-size: 24px !important;
        line-height: 30px !important;
        padding-top: 40px!important;
    }
    .myfirstclass p {
        line-height: 24px!important;
        font-size: 17px!important;
        padding-top: 10px!important;
    }
}
/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .header_inner_right {
        /* width: 50%;*/
    }
    .login_btn {
        /*  margin-left: 100px;*/
    }
}

@media only screen and (min-device-width: 1024px) {
    /*  #mod-search-searchword{margin: 103px 0px 0px -214px;width: 120px;padding: 2px 5px;height: 38px;}*/
}

#userForm h2 {
    /*  margin: 20px 0 15px 0;*/
    
    margin: 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: left;
    font-weight: 300;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.formResponsive {
    margin: 0;
}

.regcontent {
    float: none;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.regcontentnew {
    float: none;
    line-height: 13px;
    font-weight: bold;
    font-size: 21px;
}

.left_box2_content .readmore {
    float: right;
}

.left_box2_content .readmore a {
    color: #f65261;
}

.searchbar .button {
    display: none;
}

.eventnew {
    font-family: 'LobsterTwoRegular';
    color: #000 !important;
    text-align: left;
    font-weight: bold;
    background: none !important;
    border-bottom: 3px solid #c43e4b !important;
    border-left: 0 !important;
    margin: 0 !important;
}

.readmore {
    float: right;
}

.blog .readmore {
    margin-top: 0;
    margin-right: 37px;
    float: none;
}

.blog .readmore a.btn {
    color: #fff;
    text-decoration: none;
    float: none;
}

.item-page-sections .blog .readmore span {
    display: none;
}

.blog .item-image {
    float: left;
    margin-right: 10px;
}

.container_right_box_img img {
    height: 201px;
    width: 100%;
}

#btl .btl-panel > span {
    display: inline;
    height: 26px;
    line-height: 28px;
    cursor: pointer;
    text-indent: 0!important;
    width: auto;
    background-color: #741B23 !important;
    font-family: georgia;
    font-size: 12px;
}

input.btl-buttonsubmit,
button.btl-buttonsubmit {
    background-color: #d84653 !important;
}

#btl-content #btl-content-profile #module-in-profile ul {
    list-style-type: none;
}

#btl-content #btl-content-profile #module-in-profile ul li a {
    color: #AD2929;
    margin: 0 15px;
}

#btl-content #btl-content-profile #module-in-profile ul {
    margin: 5px 0 5px 15px;
}

#module-in-profile {
    min-width: 120px;
}

.btl-content-block {
    /*background: none repeat scroll 0 0 #741B23;*/
}

#btl-content #btl-content-profile #module-in-profile ul li a {
    color: #FFF;
}

#btl-content ul li a:hover {
    color: #fff !important;
}

ul.joomla-navdetails li {
    padding: 10px 0;
}

.tab-content .active {
    background-color: transparent;
    color: #818181;
    border: 1px solid #ADA4A4;
    font-weight: normal;
}

ul.nav-tabs li.active {
    background-color: transparent;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    /*margin-left: 3px;*/
}

.form-horizontal .control-label {
    width: 100px;
}

.form-horizontal .controls {
    margin-left: 124px;
    margin-top: 10px;
}

.input-append .add-on,
.input-prepend .add-on {
    margin-top: 7px;
    height: 30px;
}

.bootstrap-timepicker-widget table td input {
    width: 47px;
}

#member-profile .control-label {
    width: 100px;
}

span.optional {
    float: left;
    width: 100px;
}

.form-actions .validate {
    float: none;
}

.form-actions img,
.tab-pane img {
    width: auto !important;
}

.sa-img {
    text-align: center;
    padding-bottom: 20px;
}

#jform_title {
    width: 75%;
    margin-left: 10px;
    margin-top: -10px;
}

.msg_wrapper img {
    width: 250px !important;
    height: auto !important;
}

.msg_controls a.msg_prev {
    background: url(../img/icons/prev.png) no-repeat left 0px;
}

.msg_controls a {
    padding: 2px 0px 6px;
}

.msg_controls a.msg_next {
    background: url(../img/icons/next.png) no-repeat left 0px;
}
/* remove rsblog footer */

.rsb-toolbar {
    display: none;
}

.createdby {
    /*display: none;*/
}

.page-header {
    margin: 0 !important
}

.video-block {
    margin-top: 50px;
}

#grandtotalcontainer {
    display: block;
    margin-top: -18px;
}

span#tickets {
    display: block;
    margin-top: -20px;
}

p.formDescription {
    display: none;
}

#RSEProPayment0,
#RSEProPayment1 {
    margin-top: 7px;
}

p.rsformVerticalClear {
    margin: 0 !important;
}

.rsform-block-rseprocoupon {
    margin-top: -20px;
}

p.rsformVerticalClear {
    padding-top: 0 !important;
}

.rsform-block-promoinfo {
    margin-top: -32px !important;
}

span#paymentinfo {
    margin-top: -17px;
    display: block;
    color: #f00;
    font-size: 12px;
    font-weight: bold;
}
/*cobalt gallery*/

.gallery-col > div {
    background-color: #EDECEC !important;
}

.galleria-theme-classic {
    background-color: #EDECEC !important;
}

.gallery-label {
    margin-top: 12px;
}
}
