@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Georgia, serif;
    src: url('../font/calibril-webfont.eot');
    src: url('../font/calibril-webfont.eot?#iefix') format('embedded-opentype'), url('../font/calibril-webfont.woff') format('woff'), url('../font/calibril-webfont.ttf') format('truetype'), url('../font/calibril-webfont.svg#calibrilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LobsterTwoRegular';
    src: url('../font/lobstertwo-regular.eot');
    src: url('../font/lobstertwo-regular.eot') format('embedded-opentype'), url('../font/lobstertwo-regular.woff') format('woff'), url('../font/lobstertwo-regular.ttf') format('truetype'), url('../font/lobstertwo-regular.svg#LobsterTwoRegular') format('svg');
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    float: left;
    background-color: #FFF;
}
.clear {
    clear: both;
}
.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    float: left;
}
.header {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
}
.header_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}
.header_inner_left {
    width: 400px;
    margin: 0 0 0 0;
    padding: 0;
    float: left;
    height: auto;
}
.logo {
    float: left;
    width: 380px;
    margin: 20px 0 0 0;
    padding: 0px 0;
    height: auto;
}
.header_inner_right {
    width: 440px;
    margin: 10px 0px 0 0;
    padding: 0;
    float: right;
    height: auto;
}
.login_btn {
    width: 179px;
    margin: 10px 0 0 256px;
    padding: 0;
    float: left;
    height: auto;
}
.social {
    width: 150px;
    margin: 5px 10px 0 0;
    padding: 0;
    float: right;
    height: auto;
}
.social ul {
    width: 326px;
    height: auto;
    margin: 0;
    padding: 0;
}
.social ul li {
    float: left;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 20px;
    list-style: none;
}
.link {
    width: 252px;
    float: left;
    margin: -9px 0 0 56px;
    padding: 0;
    height: auto;
    clear: both;
}
.link ul {
    width: 326px;
    height: auto;
    margin: 0;
    padding: 0;
}
.link ul li {
    float: left;
    margin: 0;
    padding: 10px 0 0 10px;
    list-style: none;
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-size: 14px;
}
.link ul li a {
    margin: 0;
    padding: 0 10px 0 0;
    text-decoration: none;
    color: #333;
    border-right: 1px solid #333;
}
.menu {
    width: 100%;
    margin: -30px 0 0 0;
    padding: 0;
    float: left;
    height: auto;
    background-color: #4c5358;
    border-top: 3px solid #f65261;
}
.menu_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}
.menu ul {
    width: 850px;
    height: auto;
    margin: 0;
    padding: 0;
}
.menu ul li {
    float: left;
    margin: 0;
    /* padding:15px 25px;*/
    
    padding: 13px 18px;
    list-style: none;
    /*font-family: 'Vidaloka', serif;*/
    
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    border-left: 1px solid #6f767a;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
}
.menu ul li a:hover {
    text-decoration: none;
    color: #f65261;
}
.main_container {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    float: left;
    height: auto;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}
.container_left {
    width: 745px;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
}
.slider {
    width: 745px;
    height: auto;
    margin: 0;
    padding: 0;
}
.container_left_box {
    width: 745px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
}
.container_left_box h1, .page-header h2 {
    margin: 20px 0 0 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    background-color: #f65261 !important;
    border-left: 10px solid #c43e4b;
    width: 725px;
    text-transform: uppercase;
}
.left_box_text1 {
    margin: 0;
    padding: 0 10px !important;
    list-style: none;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0px !important;
    text-align: center;
}
.left_box_text2 {
    margin: 0;
    padding: padding: 0 10px !important;
    list-style: none;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    color: #f65261;
    margin-bottom: 0px !important;
    text-align: center;
}
.left_box_text3 {
    margin: 0;
    padding: 10px 0 0 10px;
    list-style: none;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    color: #525252;
    margin-bottom: 0px !important;
    text-align: center;
}
.container_left_box2 {
    width: 745px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
}
.container_left_box2 h1 {
    margin: 20px 0 0 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 725px;
    text-transform: uppercase;
}
.whappening-wrapper {
    width: 743px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
}
.whappening-wrapper img {
    width: 165px;
    height: 108px;
    margin: 0;
    padding: 15px;
    float: left;
}
.whappening {
    width: 537px;
    height: auto;
    margin: 0;
    padding: 0 10px 0 0;
    float: right;
}
.whappening h2 {
    margin: 0;
    padding: 15px 0 12px 0;
    font-family: 'Vidaloka', serif;
    font-size: 19px;
    color: #494848;
    text-align: left;
    font-weight: normal;
}
.whappening p {
    float: left;
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 25px;
}
.bottom_box {
    width: 745px;
    height: auto;
    margin: 0;
    padding: 20px 0;
}
.bottom_box_left {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 10px;
    float: left;
}
a.feature-heading {
    font-size: 16px;
    font-family: 'Vidaloka', serif;
    padding: 5px 5px 5px 0;
    color: #5582D1;
}
.bottom_box_left h1 {
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    color: #fff;
    float: left;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 12px 0 12px 10px;
    text-align: left;
    width: 330px;
    text-transform: uppercase;
}
.bottom_box_left_main {
    width: 330px;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}
.bottom_box_left_main_img {
    width: 116px;
    height: 78px;
    margin: 0;
    padding: 10px 0;
    float: left;
}
.bottom_box_left_main_content {
    width: 200px;
    height: auto;
    margin-top: 5px;
    padding: 0;
    float: right;
}
.bottom_box_left_main_content h2 {
    margin: 0;
    padding: 8px 0 12px 0;
    float: left;
    font-family: Georgia, serif;
    font-size: 18px;
    color: #272727;
    text-align: left;
}
.bottom_box_left_main_content p {
    float: left;
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 25px;
}
ul.feature-links li {
    list-style-type: none;
    text-indent: -1.5em;
}
ul.feature-links li a {
    color: #444343;
}
.container_right {
    width: 325px;
    margin: 0;
    padding: 0;
    float: right;
    height: auto;
}
.container_right_box. .right_links, .moduletable_hilite2 h3 {
    width: 325px;
    margin: 0 0 -28px 0;
    padding: 0;
    float: right;
    height: auto;
    clear: both;
}
.container_right_box h1, h3.componentheading {
    margin: 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 21px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 305px;
}
.moduletable_hilite2 {
    margin-top: 30px;
}
.toggle-editor {
    display: none;
}
#limit {
    display: none;
}
h3.componentheading {
    width: 700px;
}
.donate-btn {
    vertical-align: middle;
}
.blog {
    border-bottom: 1px dotted #B1B0B0;
}
.blog img {
    border: 3px double #ccc;
}
.right_links h1, .right_links h3, .moduletable_hilite2 h3, h3.componentheading {
    /*font-family: 'Vidaloka', serif !important;*/
    
    font-size: 21px;
}
.moduletable_hilite2 h3 {
    margin-top: 20px;
}
.right_links ul {
    padding: 0;
    overflow: inherit;
    background-color: transparent;
    border-top: none;
    border-bottom: 1px dotted #EB245B;
    clear: both;
}
.right_links ul li {
    float: none;
    display: table;
}
.container_right_box_img {
    width: 325px;
    margin: 0;
    padding: 10px 0;
    float: left;
    height: auto;
}
.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
    background: #181a1b;
}
.footer_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.footer_about {
    width: 350px;
    height: auto;
    margin: 0px 0 59px 0;
    padding: 0;
    border-right: 1px solid #2a2d2f;
    float: left;
}
.footer_about_inner {
    width: 330px;
    height: auto;
    margin: 21px 0 27px 0;
    padding: 0;
    float: left;
}
.footer_about_inner h1 {
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #ca4753;
    text-transform: uppercase;
}
.footer_about_inner p {
    font-family: Georgia, serif;
    font-style: italic;
    color: #959595;
    font-size: 15px;
    line-height: 25px;
}
.footer_about_inner ul {
    height: auto;
    margin: 0;
    padding: 0;
    width: 326px;
}
.footer_about_inner ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 60px;
}
.twitter {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 0;
    border-right: 1px solid #2a2d2f;
    float: left;
}
.twitter h1 {
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #ca4753;
    margin: 20px 0 0 30px;
    text-transform: uppercase;
}
.twitter_inner {
    width: 330px;
    height: auto;
    margin: 0 0 44px 0;
    padding: 0;
    float: left;
}
.twitter_inner ul {
    height: auto;
    margin: 15px 0 0 0;
    padding: 0;
    width: 326px;
}
.twitter_inner ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 10px;
    width: 60px;
}
.quicklinks {
    width: 350px;
    height: 210px;
    margin: 0;
    padding: 0;
    float: left;
}
.quicklinks h1 {
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #ca4753;
    margin: 20px 0 0 30px;
    text-transform: uppercase;
}
.quicklinks_inner {
    width: 330px;
    height: auto;
    margin: 0 0 28px 0;
    padding: 0;
}
.quicklinks ul {
    width: 80px;
    margin: 20px 0 0 30px;
    padding: 0;
    height: auto;
    float: left;
}
.quicklinks ul li {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 15px;
    color: #959595;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}
.menu2 {
    margin: 20px 0 0 30px;
    padding: 0;
    height: auto;
    float: left !important;
}
.menu2 li {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 15x;
    color: #959595;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}
.newsleeter {
    padding: 16px 0 0 0;
    clear: both;
}
.copyright {
    width: 100%;
    background: #000000;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;
}
.copyright_inner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}
.copyright_inner p {
    color: #6d6d6d;
    font-family: Georgia, serif;
    font-size: 15px;
    text-align: center;
    margin: 12px 0 12px 0;
}
.slider_content {
    width: 700px;
    margin: 0;
    padding: 0;
    height: 58px;
}
.slide-desc-bg {
    background: #000 !important;
}
.slide-text h1 {
    color: #f65261;
    font-family: 'Vidaloka' !important;
    font-size: 20px;
}
.slider h1 {
    color: #F1808B;
    font-family: "LobsterTwoRegular";
    font-size: 20px;
    font-weight: normal;
}
.slider_content p {
    font-family: Georgia, serif;
    font-style: italic;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}
.login-description {
    margin: 20px 0 0 0;
    padding: 12px 0 12px 10px;
    font-family: 'LobsterTwoRegular';
    font-size: 24px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
}
.button {
    background-color: #f65261;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    color: #fff;
    float: left;
    width: auto;
    margin: 17px 0 0 90px;
    font-size: 15px;
    padding: 5px;
}
.login-fields label {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
}
.login-fields input {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 11px 0 11px 12px;
    width: 206px;
    padding: 6px;
}
.validate-password {
    margin: 11px 0 11px 22px !important;
}
#remember {
    margin: 0 0 0 0 !important;
    width: auto !important;
}
#remember-lbl {
    margin: 11px 0 0 85px !important;
}
.reset {
    margin: 24px 0 0 0;
}
p {
    font-family: georgia, serif;
    font-size: 13px;
    line-height: 1.8em;
    padding: 5px;
    text-indent: 0 !important;
}
.item-page p {
    padding: 3px;
    margin-bottom: 25px;
    line-height: 1.7em;
}
.item-page ul li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 25px;
}
 form#os_form label {
    margin-bottom: 10px;
    color: #C4105A;
    font-size: 13px;
    font-weight: normal;
}
.validate {
    background-color: #f65261;
    font-family: 'Vidaloka', serif;
    border: none;
    color: #fff;
    float: left;
    width: 216px;
    margin: -73px 0 0 160px;
    font-size: 24px;
    padding: 5px;
}
fieldset {
    padding-bottom: 51px !important;
}
#jform_email-lbl {
    float: left;
    padding-left: 26px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal !important;
}
#jform_email {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: -4px 0 11px 12px;
    width: 206px;
    padding: 6px;
}
.registration legend {
    margin: 4px 0 0 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    text-align: left;
    font-weight: bold;
    width: 692px;
    text-transform: uppercase;
}
.registration {
    margin: 20px 0 0 0;
}
.registration label {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
}
#jform_name-lbl, #jform_username-lbl, #jform_password1-lbl, #jform_password2-lbl, #jform_email1-lbl, #jform_email2-lbl {
    float: left;
    width: 100px;
}
#username-lbl, #password-lbl {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    float: left;
}
.btn {
    background: #f65261;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 0 0 97px;
    width: auto;
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#jform_email2-lbl {
    font-size: 14px;
}
#jform_name {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: -5px 0 11px 0px;
    width: 206px;
    padding: 3px;
}
#jform_username {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0;
    width: 206px;
    padding: 3px;
}
#jform_password1 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0 !important;
    width: 206px;
    padding: 3px;
}
#jform_password2 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0 !important;
    width: 206px;
    padding: 3px;
}
#jform_email1 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0!important;
    width: 206px;
    padding: 3px;
}
#jform_email2 {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: normal !important;
    margin: 0px 0 11px 0!important;
    width: 206px;
    padding: 3px;
}
.cat-children h3 {
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
}
.cat-children h3 a {
    color: #f65261;
    text-decoration: underline;
}
.moduletable h3, .moduletable_hilite2 h3 {
    margin: 0 0 12px 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    /*width: 305px;*/
    
    width: 100%;
}
#newsl {
    background: #0b0c0c;
    font-family: Georgia, serif;
    font-style: italic;
    color: #959595;
    border: 1px solid #292d2f;
    margin: 4px 0 0 30px;
    padding: 7px;
    width: 174px;
}
#newsb {
    background: #181a1b;
    color: #ca4753;
    border: 1px solid #ca4753;
    font-family: Georgia, serif;
    font-style: italic;
    padding: 6px;
    width: 94px;
    margin: 0 0 0 8px;
    font-size: 16px;
}
.last {
    border-right: 1px solid #6f767a !important;
}
#mod-search-searchword {
    background: #f4f4f4;
    border: none;
    padding: 10px 20px 10px 20px;
    z-index: 9999;
    position: absolute;
    margin: 135px 0 0 -314px;
    color: #8f9396;
    font-family: Georgia, serif;
    font-size: 16px;
    border-radius: 3px;
}
.active {
    background: #f65261;
    color: #fff;
}
.active span:hover {
    color: #000;
}
.menu li ul {
    width: 180px;
    display: none;
    background-color: #4c5358;
    padding: 3px !important;
    z-index: 9999;
    position: absolute;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    border-left: 1px solid #6f767a;
    margin: 15px 0 0 -26px;
    border-bottom: 1px solid #6f767a;
    border-right: 1px solid #6f767a;
}
.menu li li ul {
    display: none;
    background-color: #e5e5e5;
    padding: 0 !important;
    border: #b21925 solid 1px;
    margin: 0;
    visibility: hidden;
}
.menu li li {
    margin-bottom: 3px !important;
    padding: 5px 0 !important;
    background: none;
    border-left: none;
    width: 171px;
    border-right: none !important;
}
.menu li li a {
    background-color: #f65261;
    color: #fff;
    display: block;
    text-transform: none;
    font-size: 16px;
    /*font-weight: bold;*/
    
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    /*white-space: nowrap;*/
}
.menu li li a:hover {
    color: #000;
}
.menu li li .last {
    border-right: none !important;
}
.item-page h2 {
    margin: 20px 0 15px 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 725px;
    text-transform: uppercase;
}
div#jomclassifieds h1 {
    padding: 7px 5px;
    font-family: 'Vidaloka', serif;
}
#message {
    width: 60%;
}
div#jomclassifieds .imgblock {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    margin: 0px;
    padding-bottom: 75%;
    background-color: #000;
}
div#jomclassifieds {
    padding: 10px;
}
ul.mylinks {
    clear: both;
}
ul.mylinks li a {
    color: #47425E;
    line-height: 1.7em;
}
.engage {
    float: right;
}
a {
    color: #336BBD;
}
.search_hilite2 input {
    width: 300px;
    height: 25px;
    padding: 3px;
    border: 1px solid #C5ACAC;
    border-radius: 3px;
}
#jsebuttonsearch {
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    float: left;
    margin: 0 0 20px 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 11px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}
.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip {
    max-width: 400px;
}
.tooltip-inner {
    max-width: none;
    text-align: left;
    text-shadow: none;
}
th .tooltip-inner {
    font-weight: normal;
}
.tooltip.hasimage {
    opacity: 1;
}
.tip-text {
    text-align: left;
}
.event-img {
    width: 150px;
    height: auto;
}
.Sponsor {
    display: none;
}
.container_right_box {
    height: 100% !important;
}
td.jse_sectiontableentry ul {
    list-style-type: none;
    /* padding-top: 17px;*/
}
h3.popover-title {
    font-size: 14px;
    padding-top: 5px;
    background-color: transparent;
    padding: 0;
    float: none;
    border-left: 0;
}
#jse_popup_l_search h3 {
    font-size: 15px;
    padding: 7px;
    width: 265px;
    float: none;
}
#jse_popup_search_start_date, #jse_popup_search_end_date {
    width: 275px;
}
/* remove statistics table from my events view */

#table-statistic {
    display: none;
}
.btn-primary {
    margin: 10px;
}
.dtree img {
    display: none;
}
#jse-event-detail .jse-detail-info-Attenders div.jse-register {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 30px;
}
.jse-register button {
    font-size: 20px;
}
h4 {
    font-size: 17px;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    color: #DB4059;
}
.jse_sectiontableheader h4 {
    text-align: center;
}
.dtree a.nodeSel, .dtree a.node, .right_links ul li a {
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 13px;
    color: #851F0A;
}
/*************************** RESPONSIVE *********************************/

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header_inner, .logo, .container, .container_left, .container_right {
        width: 100%;
    }
    .main_container {
        margin: 0;
    }
    .logo img {
        width: 96%;
    }
    .login_btn {
        width: 40%;
        margin: 10px 0px 0px 0px;
    }
    .login_btn img {
        width: 100%;
    }
    .header_inner_left, .header_inner_right {
        width: 53%;
    }
    .social {
        margin: 4px 0 0 0;
    }
    .social ul li {
        padding: 10px 0px 0px 2px;
        width: 12px;
    }
    .link {
        width: 100%;
        margin: -7px 0px 0px -11px;
    }
    .link ul li {
        font-size: 11px;
        padding: 10px 0px 0px 3px;
    }
    .djslider {
        width: 100%;
    }
    .slider, .container_left_box, .container_left_box2, .bottom_box, .container_right_box, .container_left_box h1, .left_box2, .left_box2_content h2, .footer_inner, .copyright_inner, .footer_about_inner, .twitter_inner, .quicklinks_inner {
        width: 100%;
    }
    .whappening {
        width: 58%;
    }
    .whappening h2 {
        text-align: left;
        font-size: 20px;
    }
    .whappening-wrapper img {
        margin: 0;
        width: 26% !important;
        height: auto !important;
    }
    .whappening p {
        text-align: left;
        padding: 0 5px;
        font-size: 15px;
    }
    .bottom_box_left, .bottom_box_left_main {
        width: 100%;
    }
    .bottom_box_left_main_img {
        width: 30%;
    }
    .bottom_box_left_main_content {
        width: 62%;
    }
    .bottom_box_left h1 {
        width: 87%;
    }
    .bottom_box_left_main_content p {
        width: 80%;
    }
    #mod-search-searchword {
        margin: 99px 0px 0px -140px;
        width: 30%;
        position: relative;
        z-index: 0;
    }
    .container_right_box_img, .moduletable h3 {
        width: 96%;
    }
    .container_right_box_img img {
        width: 96%;
        float: right;
    }
    .container_right_box iframe {
        margin: 0 0 0 4px;
        width: 98% !important;
    }
    .menu_inner, .menu ul, .footer_about, .quicklinks, .twitter {
        width: 100%;
    }
    .wrapper {
        overflow: hidden;
    }
    .header_inner_right {
        margin: 10px -26px 2px 0;
    }
    .searchbar {
        display: none;
    }
    .footer_about_inner h1 {
        margin: 0 0 9px 31px;
    }
    .whappening-wrapper {
        width: 100% !important;
    }
    .item-page {
        width: 93%;
    }
    .item-page p {
        margin-left: 19px;
        text-align: justify;
    }
    .button {
        margin: 20px 0 0 0px;
        width: 100%;
    }
    #jform_name, #jform_username, #jform_password1, #jform_password2, #jform_email1, #jform_email2 {
        width: 21% !important;
    }
    .validate {
        width: 71%;
        margin: -73px 0 0 47px;
    }
    .registration legend {
        width: 100%;
    }
    .searchbar .button {
        display: none;
    }
    .btl-panel {
        width: 170px;
    }
    #btl-panel-login {
        padding: 6px 11px !important;
        width: auto;
        margin: 0 0 0 -17px !important;
        line-height: 12px!important;
    }
    #btl-panel-profile {
        margin: 0 0 0 -35px !important;
    }
    .slider_content {
        width: 100%;
    }
    .slide-text h1 {
        font-size: 15px !important;
        color: #F8CBCF;
    }
    .twitter h1, .footer_about_inner h1, .quicklinks_inner h1 {
        margin-left: 10px;
        font-size: 18px
    }
    .quicklinks ul {
        margin: 20px 0 0 10px;
    }
    .quicklinks ul li {
        font-size: 16px;
    }
    #btl .btl-panel > span {
        line-height: 12px!important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
    .wrapper {
        overflow: hidden;
    }
    .header_inner, .logo, .container, .container_left, .container_right {
        width: 100%;
    }
    .logo img {
        width: 100%;
        float: left;
    }
    .header_inner_left, .header_inner_right {
        width: 50%;
    }
    .social {
        margin: 10px 6px 2px;
    }
    .link {
        width: 100%;
        margin: 5px 0 0 -34px;
    }
    .djslider {
        width: 100%;
    }
    .slider, .container_left_box, .container_left_box2, .bottom_box, .container_left_box h1, .footer_inner, .copyright_inner, .footer_about_inner, .twitter_inner, .quicklinks_inner {
        width: 100%;
    }
    .whappening-wrapper {
        width: 100%;
    }
    .whappening h2 {
        text-align: left;
        font-size: 22px;
    }
    .whapenning-wrapper img {
        margin: 0 0 0 103px;
        width: 20%;
    }
    .whappening p {
        text-align: left;
    }
    .bottom_box_left, .bottom_box_left_main {
        width: 100%;
    }
    .bottom_box_left_main_img {
        width: 30%;
    }
    .bottom_box_left_main_content {
        width: 70%;
    }
    .bottom_box_left h1 {
        width: 87%;
    }
    .bottom_box_left_main_content p {
        font-size: 15px;
    }
    #mod-search-searchword {
        margin: 135px 0 0 -289px;
    }
    .moduletable h3 {
        width: 95%;
    }
    .container_right_box {
        width: 45%;
        float: left;
        clear: none;
        margin-left: 13px;
    }
    .container_right_box_img {
        width: 100%;
        float: left;
        clear: none;
        padding: 0 0 0 10px;
    }
    .container_right_box .moduletable {
        width: 97%;
        float: left;
    }
    .container_right_box_img img {
        width: 100%;
        float: right;
        margin: -8px -3px 38px 0px;
        height: 232px;
    }
    .container_right_box iframe {
        margin: 0 0 0 4px;
        width: 98% !important;
    }
    .menu_inner, .menu ul, .footer_about, .quicklinks, .twitter {
        width: 100%;
    }
    .wrapper {
        overflow: hidden;
    }
    .header_inner_right {
        margin: 10px -26px 2px 0;
    }
    .footer_about_inner h1 {
        margin: 0 0 9px 31px;
    }
    .whappening {
        width: 55%;
        float: left;
    }
    .bottom_box_left_main_img img {
        margin: 0 0 0 13px;
    }
    .item-page {
        width: 93%;
    }
    .item-page p {
        margin-left: 19px;
        text-align: justify;
    }
    #jform_name, #jform_username, #jform_password1, #jform_password2, #jform_email1 {
        width: 63%;
    }
    #jform_email2 {
        width: 60%;
    }
    .registration legend {
        width: 100%;
    }
    .login_btn {
        margin: 10px 0px 0px -10px;
    }
    .searchbar .button {
        display: none;
    }
    #btl-panel-login {
        padding: 6px 11px !important;
        width: 69%!important;
        margin: 0 0 0 -17px !important;
    }
    .fb_iframe_widget_fluid span {
        width: 100% !important;
    }
    .twitter h1, .footer_about_inner h1, .quicklinks_inner h1 {
        margin-left: 10px;
        font-size: 18px
    }
    .quicklinks ul {
        margin: 20px 0 0 10px;
    }
    .quicklinks ul li {
        font-size: 16px;
    }
    #simplemodal-container {
        z-index: 9999 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        overflow: hidden;
    }
    .header_inner_left {
        width: 35%;
        clear: both;
    }
    .header_inner_right {
        width: 65%;
    }
    .menu_inner {
        width: 100%;
    }
    .menu ul li {
        padding: 15px 7px;
    }
    #mod-search-searchword {
        margin: 81px 0px 0px -164px;
        width: 120px;
        padding: 2px 5px;
        height: 38px;
    }
    #dj-main89 {
        width: 100%;
    }
    .container_left {
        width: 70%;
        float: left;
    }
    .container_right {
        width: 30%;
        float: left;
    }
    .slider {
        width: 100%;
        float: left;
    }
    .djslider {
        width: 100% !important;
    }
    .container_left_box, .container_left_box h1 {
        width: 98%;
        float: left;
    }
    .container_left_box2, .container_left_box2 h1 {
        width: 98%;
        float: left;
    }
    .bottom_box {
        width: 98%;
        float: left;
    }
    .bottom_box_left {
        width: 46%;
        float: left;
    }
    .bottom_box_left h1 {
        width: 98%;
    }
    .bottom_box_left_main {
        width: 98%;
    }
    .container {
        width: 100%;
    }
    .container_right_box {
        margin: -10px 0px -28px;
        width: 99%;
    }
    .container_right_box_img .moduletable img {
        width: 99%;
    }
    .moduletable, .container_right_box_img {
        width: 99%;
    }
    .left_box2 {
        width: 100%;
    }
    .left_box2_img {
        width: 30%;
    }
    .left_box2_content {
        width: 62%;
    }
    .left_box2_content h2 {
        font-size: 20px;
    }
    .bottom_box_left_main_img {
        width: 46%;
    }
    .bottom_box_left_main_img img {
        width: 100%;
    }
    .bottom_box_left_main_content {
        width: 51%;
    }
    .footer_inner {
        width: 100%;
    }
    .footer_about, .footer_about_inner, .twitter, .twitter_inner {
        width: 29%;
    }
    .quicklinks {
        width: 28%;
    }
    .copyright_inner {
        width: 100%;
    }
    #djslider90 ul#slider90 li {
        height: 344px !important;
        width: 745px !important;
    }
    .twitter h1, .footer_about_inner h1, .quicklinks_inner h1 {
        margin-left: 10px;
        font-size: 18px
    }
    .quicklinks ul {
        margin: 20px 0 0 10px;
    }
    .quicklinks ul li {
        font-size: 16px;
    }
    .searchbar .button {
        display: none;
    }
    .whappening-wrapper {
        width: 100%;
    }
    .whappening-wrapper img {
        float: left;
    }
    .whappening {
        float: left;
        width: 60%;
    }
}
@media only screen and (min-device-width: 1024px) {
    #mod-search-searchword {
        margin: 103px 0px 0px -214px;
        width: 120px;
        padding: 2px 5px;
        height: 38px;
    }
}
#userForm h2 {
    margin: 20px 0 15px 0;
    padding: 12px 0 12px 10px;
    float: left;
    font-family: 'Vidaloka', serif;
    font-size: 20px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    background-color: #f65261;
    border-left: 10px solid #c43e4b;
    width: 725px;
    text-transform: uppercase;
}
.regcontent {
    float: none;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}
.regcontentnew {
    float: none;
    line-height: 13px;
    font-weight: bold;
    font-size: 21px;
}
.left_box2_content .readmore {
    float: right;
}
.left_box2_content .readmore a {
    color: #f65261;
}
.searchbar .button {
    display: none;
}
.eventnew {
    font-family: 'LobsterTwoRegular';
    color: #000 !important;
    text-align: left;
    font-weight: bold;
    background: none !important;
    border-bottom: 3px solid #c43e4b !important;
    border-left: 0 !important;
    margin: 0 !important;
}
.readmore {
    float: right;
}
.blog .readmore {
    margin-top: 0;
    margin-right: 37px;
    float: none;
}
.blog .readmore a.btn {
    background: transparent;
    color: #2A6499;
    text-decoration: underline;
    float: right;
}
.blog .item-image {
    float: left;
    margin-right: 10px;
}
.eventnewc p {
    clear: both;
}
.container_right_box_img img {
    height: 201px;
    width: 100%;
}
#btl .btl-panel > span {
    display: inline;
    height: 26px;
    line-height: 28px;
    cursor: pointer;
    text-indent: 0!important;
    width: auto;
    background-color: #741B23 !important;
    font-family: georgia;
    font-size: 13px;
}
input.btl-buttonsubmit, button.btl-buttonsubmit {
    background-color: #d84653 !important;
}
#btl-content #btl-content-profile #module-in-profile ul {
    list-style-type: none;
}
#btl-content #btl-content-profile #module-in-profile ul li a {
    color: #AD2929;
    margin: 0 15px;
}
#btl-content #btl-content-profile #module-in-profile ul {
    margin: 5px 0 5px 15px;
}
#module-in-profile {
    min-width: 120px;
}
.btl-content-block {
    background: none repeat scroll 0 0 #741B23;
}
#btl-content #btl-content-profile #module-in-profile ul li a {
    color: #FFF;
}
#btl-content ul li a:hover {
    color: #fff !important;
}
#btl-content-profile {
    left: 1350px !important;
}
ul.joomla-navdetails li {
    padding: 10px 0;
}
.tab-content .active {
    background-color: transparent;
    color: #818181;
    border: 1px solid #ADA4A4;
    font-weight: normal;
}
ul.nav-tabs li.active {
    background-color: transparent;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    /*margin-left: 3px;*/
}
.form-horizontal .control-label {
    width: 100px;
}
.form-horizontal .controls {
    margin-left: 124px;
}
.input-append .add-on, .input-prepend .add-on {
    margin-top: 7px;
}
.bootstrap-timepicker-widget table td input {
    width: 47px;
}
#member-profile .control-label {
    width: 100px;
}
span.optional {
    float: left;
    width: 100px;
}
.form-actions .validate {
    float: none;
}
.msg_wrapper img {
    width: 250px !important;
    height: auto !important;
}
.msg_controls a.msg_prev {
    background: url(../img/icons/prev.png) no-repeat left 0px;
}
.msg_controls a {
    padding: 2px 0px 6px;
}
.msg_controls a.msg_next {
    background: url(../img/icons/next.png) no-repeat left 0px;
}
/* remove rsblog footer */

.rsb-toolbar {
    display: none;
}
.createdby {
    /*display: none;*/
}
.page-header {
    margin: 0;
}
.rs_rss {
    display: none;
}
.rs_search {
    border: none;
}
/* Categories*/

ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 120px;
}
ul.img-list li {
    display: inline-block;
    height: 150px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 150px;
    float: left;
    margin-right: 100px;
}
span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
ul.img-list li:hover span.text-content {
    opacity: 1;
}
span.text-content {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
    opacity: 0;
    font-size: 20px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius: 13px;
}
h2.contentheading {
    font-family: georgia;
    text-transform: uppercase;
    color: #F00;
    font-size: 24px;
    border-bottom: 1px dotted #F00;
}
@media only screen and (min-width: 1400px) and (min-width: 1224px) {
    #mod-search-search
